@font-face
{
    font-family: MuseoCyrillic100;
    src: url('font/exljbris - Museo Cyrl 100.otf');
}

@font-face
{
    font-family: MuseoCyrillic500;
    src: url('font/exljbris - Museo Cyrl 500.otf');
}

body
{
    font-family: MuseoCyrillic100;
}

.MC500
{
    font-family: MuseoCyrillic500;
}

.div1
{
    height: 50px;
    display: inline-block;
    width: 24%;
    text-align: center;
    margin-top: 25px;
    font-family: Arial;
    margin-bottom:30px
}

.div1col
{
    color:white;
}

.div3
{
    margin-bottom:25px;
    margin-top: 25px;
}

.quote
{
    font-size:15px;
    line-height:2em;
    font-family: Arial;
}

.ari
{
    font-family: Arial;
}

.ots
{
    margin-bottom:50px
}

.divrez
{
    color:white;
    font-size:20px;
    text-align:left;
    margin-left:20px;
}
.divkn
{
    display: block;
    position: relative;
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%, -50%);

}
A.mailto
{
    color:white;
}
A.mailto:hover
{
    color: #1ECCE7;
}

A.mailto2
{
    color:black;
}

A.mailto2:hover
{
    color: #1ECCE7;
}

.mail
{
    margin-top:15px;
    text-align:center
}

.table1
{
    width: 100%;
    margin: 20px;
    bordercolor:#1ECCE7;
}
.th1
{
    width:33%
}

.table2
{
    width: 100%;
    bordercolor:#1ECCE7;
}

.th2
{
    width:50%;
    valign:top
}

.div2
{
    background-size:cover;
    background-repeat: no-repeat ;
}
.startim
{
    background: url(image/bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
span.sp
{
    vertical-align: 35px;
    font-size:15px;
}

ul {
    padding: 0px;
    margin-left: -20px;
    list-style-position: outside;
}
li {
    /*padding-left: 20px;*/
    list-style-type: none; /* Убираем маркеры у списка */
    line-height: 2;
}
.divinf
{
    position: relative;
    display: inline-block;
    margin: 2px;
    background:white;
    height: 200px;
    padding:15px;
    vertical-align:top;
}

.divinf2
{
    position: relative;
    display: inline-block;
    margin: 5px;
    height: 100px;
    vertical-align:top;
}

.divinf:hover
{
    z-index:100;
    box-shadow: 0px 0px 30px 5px #c0c0c0
}

.layer1
{
    float: left;
    margin-right:50px;
    margin-top:10px;
}

.notebook,
.notebook .tabs,
.notebook .pages,
.notebook .page {
    margin: 0;
    padding: 0;
    align: left;
}

.notebook .tabs, .notebook .pages {
    list-style: none;
    overflow: hidden;
}

.notebook .tabs li {
    float: left;
}

.notebook .pages {
    clear: both;
}

.notebook .tabs li {
    border-bottom: 1px solid gray;
}

.notebook .tabs {
    font-family: Georgia;
    font-size: 15px;
    line-height: 20px;
    height: 60px;
}

.notebook .tabs li {
    background: white;
    padding: 0 10px;
    height: 60px;
}

.notebook .tabs a {
    text-decoration: none;
}


.notebook .tabs li:hover {
    border-bottom: 3px solid blue;
}

.notebook .page .page-top-border
{
    margin: 0px;
    padding: 0px;
    border: none;
}

.notebook .page .page-top-border *
{
    height: 2px;
    font-size: 1px;
    line-height: 1px;
    /*border-top: 1px solid gray;*/
    float: left;
    margin: 0px;
    padding: 0px;
}

#notebook4 .pages {
    border-top: none;
    text-align: left;
}

#notebook4 .pages, #notebook4 .page {
    width: 99%;
    height: 600px;
    box-sizing: border-box;
    text-align: left;
}

#notebook4 .tabs li,
#notebook4 .page-top-border * {
    width: 33%;
    box-sizing: border-box;
}

.tab2inf1
{
    text-align:left;
    color:#1ECCE7;
    font-size:20px;
    margin-bottom:20px;
    margin-left:20px
}

.tab2inf2
{
    text-align: left;
    color:white;
    font-size:60px;
    margin-bottom:20px;
    margin-left:20px
}

.tab2inf11
{
    text-align:left;
    color:#1ECCE7;
    font-size:20px;
    margin-bottom:20px;
    margin-left:20px;
    padding-left:25px
}
.ostal
{
    text-align:left;
    color:#1ECCE7;
    font-size:30px;
    margin-bottom:20px;
    margin-top:30px;
    float:left
}

.navse
{
    text-align:left;
    color:#1ECCE7;
    font-size:30px;
    margin-bottom:20px;
    margin-left:10px;
    margin-top:30px;
    float:left
}


.skidka
{
    text-align: left;
    color:white;
    font-size:40px;
    margin-bottom:20px;
    margin-top:20px;
    float:left
}
.days
{
    text-align: right;
    color:white;
    font-size:40px;
    margin-bottom:20px;
    margin-left:20px;
    margin-top:20px;
}
p.tab2inf1 {
    margin-top: 0px; /* Отступ сверху */
    margin-bottom: 0px; /* Отступ снизу */
}
p.tab2inf2 {
    margin-top: 0px; /* Отступ сверху */
    margin-bottom: 0px; /* Отступ снизу */
}


.osn { /* основное содержимое */
    position: relative; /* боковая колонка перемещается в рамках основного содержания */
    margin: 0 auto; /* сайт располагается по центру экрана */
    max-width: 1440px; /* резиновая, растягивается до значения в 1200px */
    padding-right: 240px; /* = боковая колонка + отступ в 10px */
    padding-left: 240px; /* = боковая колонка + отступ в 10px */
}
.osn2 { /* основное содержимое */
    position: relative; /* боковая колонка перемещается в рамках основного содержания */
    margin: 0 auto; /* сайт располагается по центру экрана */
    max-width: 1440px; /* резиновая, растягивается до значения в 1200px */
}

.map
{
    max-width: 100%;
    height: auto;
}

.ww
{
    margin-top:50px;
    margin-bottom:20px;
    color:#0099ff;
    font-size:50px
}

.text1
{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:100px;
    margin-right:100px;
    text-align:center;
    font-size:15px
}

div.osh
{
    margin-top:50px;
    margin-bottom:50px;
    color:#0099ff;
    font-size:40px
}

.center
{
    text-align: center;
}

.scroll
{
    height:300px;
    width:100%;
    overflow-y : scroll;
}
.ww1
{
    margin-right:15px;
    margin-bottom:20px;
    text-align:left;
    float:left;
    margin-top:5px;
}

.ww2
{
    margin-right:15px;
    margin-bottom:20px;
    text-align:left;
    float:left;
    margin-top:10px;
}

.modal-content_radius
{
    border-radius:0px;
}

.modal_st
{
    margin-top:5%
}

p.cons
{
    text-align:center;
    margin-top:30px;
    margin-bottom:30px
}
p.color
{
    color:darkgrey;
}

.inp
{
    border-radius: 40px;
    width:200px
}

div.BGW
{
    background:url(image/BGW.png)
}

div.blue
{
    background:url(image/blue1.jpg)
}

div.white
{
    background:url(image/white1.jpg)
}

div.white2
{
    background:url(image/white2.png)
}

div.black
{
    background:url(image/black1.png)
}

.logo1
{
    margin-top:20px;
    margin-bottom:20px
}

.obrsv
{
    text-align: right;
    margin-top:25px
}

.cent
{
    text-align: center;
}

p.spory
{
    color:white;
    font-size:50px;
    text-align: left;
}

div.spory_arb
{
    color:white;
    font-size:15px;
    text-indent: 18px
}

.col2_quote
{
    margin-top:80px
}

.col10_quote
{
    margin-top:80px;
    margin-bottom:80px;
}

.pom
{
    margin:35px 35px 35px 0px;
    color:white;
    font-size:18px
}

p.osh
{
    color:blue;
    font-size:40px
}

.otst
{
    margin-top:30px;
    margin-bottom:30px
}

.col61_keys
{
    margin-top:40px;
}

.col62_keys
{
    margin-top:30px;
    margin-bottom:50px
}

p.otv
{
    color:#0099ff;
    font-size:40px
}

p.sit
{
    color:black;
    font-size:25px
}

p.resh
{
    color:black;
    font-size:25px;
    margin-top:30px
}

/*button*/
.close {
    top: -30px;
    right: -30px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font: 5px/5px 'Tahoma', Arial, sans-serif;
    font-weight: bold;

}
.close:before {
    color: white;
    content: "x";
    font-size: 30px;
}

#name, #email, #phone
{
    background:url(image/BGW.png);
    border:0px;
    border-radius:0;
}

.start
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn1_style
{
    border-radius: 40px;
    width:250px
}
.btn2_style
{
    border-radius: 40px;
    width:200px;
    height:50px;
    background-color: transparent;
    color:white;
    border: 1px solid gray;
    margin-bottom:30px;
}